@tailwind base;

html{
  scroll-behavior: smooth;
}

a {
  @apply text-primary-default;
}
a:hover {
  @apply text-primary-lighter;
  @apply underline;
}
h1{
  @apply text-primary-default;

}
h2{
  @apply text-primary-darker;

}
h3{
  @apply text-secondary-default;

}
h4{
  @apply text-secondary-lighter;

}

ol{
  padding-left: unset;

}


@tailwind components;

.breadcrumb {
  @apply flex;
}

.breadcrumb__list {
    @apply flex flex-wrap items-center space-x-4 list-none;
}

ol.breadcrumb__list {
    padding-left: unset;
}

.breadcrumb__list__item {

}

.breadcrumb__link {
  @apply text-xs md:text-sm font-light text-gray-400 hover:text-gray-300;
}

.breadcrumb__separator {
  @apply shrink-0 h-4 w-4 text-sm font-light text-gray-300 pl-2;
}

@tailwind utilities;
